spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/demo
    username: demo
    password: demo
    hikari:
      initialization-fail-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    baseline-on-migrate: true
  jackson:
    time-zone: UTC

server:
  port: 9090

kafka:
  bootstrap-servers: localhost:9092

logging:
  level:
    org.hibernate.SQL: DEBUG
    org.springframework.security: DEBUG
    org.springdoc: DEBUG
    org.springframework.web: DEBUG

springdoc:
  packages-to-scan: org.otus.finalProject.controller
  paths-to-match: /api/**
  api-docs:
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui

